__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
.env/
*.env
.DS_Store
Thumbs.db
*.h5
*.ckpt
*.pb
*.tflite
*.pkl
*.pickle
*.log
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.vscode/
.idea/
*.swp

*.sqlite3